$active-chat: #0069D9;
$master-detail-background: #F0F0F0;
$master-detail-border-color: #E2E2E2;

$chat-sidebar-title: #555655;
$chat-sidebar-description: #808080;

$blue-text: #2888F6;

$unread-indicator: #007AFF;

$contact-silhouette-gradient-start: #A5AAB8;
$contact-silhouette-gradient-end: #858A94;