.chat-toolbar {
    border-right: 1px solid var(--master-detail-border-color);

    display: flex;
    flex-flow: row;

    align-items: center;

    padding: 0 10px;

    & > .search-field {
        flex: 1;

        background: url(../../assets/magnifying-glass.svg);
        cursor: text;

        display: flex;
        flex-flow: row;

        align-items: center;

        padding: 7.5px;

        background: var(--text-t05);
        border-radius: 5px;

        --svg-color: var(--text-t20);

        & > input {
            border: none;
            flex: 1;
            background: none;

            font-size: 12px;
            padding: 0;

            margin-left: 5px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: var(--text);
            }
        }

        &:focus-within {
            border: 2px solid var(--blue-text-t50);
            margin: -2px;
        }

        & > svg {
            fill: var(--svg-color);
            height: 10px;
            width: 11px;
            stroke: var(--svg-color);
            stroke-width: 2px;
            overflow: visible;
        }
    }

    .new-chat {
        display: inline-flex;
        flex-flow: row;

        align-items: center;
        justify-content: center;

        height: 25px;
        width: 25px;

        background: none;
        border: none;

        margin-left: 5px;

        border-radius: 5px;

        cursor: pointer;

        &:focus {
            outline: none;
        }

        &, & svg {
            transition: background-color 75ms linear;
        }

        & svg {
            transform: scale(1.2) translate(0.5px, -1px);
            fill: var(--text-t80);
        }

        &:hover {
            background-color: var(--text-t10);

            & svg {
                fill: var(--text-t90);
            }
        }

        &:active {
            background-color: var(--text-t20);

            & svg {
                fill: var(--text);
            }
        }
    }
}