@import "../variables";

.detail-row {
    font-size: 14px;

    & > .detail-label {
        display: block;
        font-weight: 500;
    }

    &.detail-checkbox {
        display: flex;
        flex-flow: row-reverse;
        justify-content: flex-end;
        align-items: center;

        cursor: pointer;

        & > input[type=checkbox] {
            margin-right: 5px;
        }
    }

    &.detail-btn {
        border: 0;
        padding: 0;

        cursor: pointer;

        background: none;

        text-align: start;

        &:focus {
            outline: none;
        }

        color: $from-me-color;
        transition: color 100ms linear;

        &:hover {
            color: var(--from-me-d10);
        }

        &:active {
            color: var(--from-me-d20);
        }
    }

    &.detail-input {
        margin: 10px 0;

        display: flex;
        flex-flow: column;

        & > .detail-label {
            margin-bottom: 5px;
        }

        & > input[type=text] {
            border-radius: 10px;
            outline: none;
            border: none;

            &:focus {
                outline: none;
            }
        }
    }

    &.detail-checkbox > .detail-label {
        display: inline-block;
    }

    & > .detail-info {
        font-size: 1.1em;
    }
}

.debug-details {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;
}

details {
    padding: 5px 10px 5px 10px;

    & > summary {
        list-style: none;
        min-height: 1.2em;
        cursor: pointer;

        margin: 0 -10px;
        padding: 5px 10px;

        color: var(--text-t60);

        &:hover {
            color: var(--text-t80);
            background-color: var(--text-t05);
        }

        &:focus {
            outline: none;
        }

        &::marker {
            display: none;
        }
    }

    &[open] > summary {
        margin: 0 -10px 5px -10px;
        
        color: var(--text);
        background-color: var(--background-secondary);

        &:hover {
            color: var(--text);
            background-color: var(--background-secondary);
        }
    }
}