@import-normalize;
@import './styles/global';

.app-root {
  display: grid;
  grid-template-rows: 50px minmax(0, 1fr);
  grid-template-columns: 285px minmax(0, 1fr);

  width: 100vw;
  height: 100vh;

  max-height: 100vh;

  & > .app-bar {
    grid-row: 1;
    grid-column: 1 / 4;
    border-bottom: 1px solid $master-detail-border-color;

    display: grid;
    grid-template-columns: 285px minmax(0, 1fr);

    & > .chat-controls {
      border-right: 1px solid $master-detail-border-color;
    }
  }

  & > :not(.app-bar) {
    grid-row: 2;
  }

  &[attr-showing-devtools=true] {
    grid-template-columns: 285px minmax(0, 1fr) max-content;
  }
}